body {
	background-color: #242424;
	color: #f2f2f2;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: left;
}

form {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-top: 50px;
}

.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: vertical; /* Allows vertical resize */
}

textarea:focus {
  background-color: #f0f0f0;
}


label {
	margin-top: 20px;
	font-size: 32px;
}

textarea {
	margin-bottom: 20px;
	background-color: #f2f2f2;
		font-size: 13px;
	color: #242424;
	padding: 10px;
	border: none;
	border-radius: 5px;
	resize: none;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}

#results {
	display: none;
	margin-top: 50px;
}

#results.show {
	display: block;
}

#results p {
	margin-top: 20px;
}

#copyBtn {
	margin-top: -30px;
	margin-left: 300px;
	margin-right: 300px;
	background-color: #111e80;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.3s ease;

}
#fancyButton {
	margin-top: 20px;
	margin-left: 300px;
	margin-right: 300px;
	background-color: #be0000;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.3s ease;
}
#clearBtn{
	margin-top: 20px;
	margin-left: 300px;
	margin-right: 300px;
	background-color: #be0000;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.3s ease;
}
#clearBtn:hover {
	margin-top: 20px;
	margin-left: 300px;
	margin-right: 300px;
	background-color: #7f0015;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.3s ease;
}
#fancyButton:hover {
	margin-top: 20px;
	margin-left: 300px;
	margin-right: 300px;
	background-color: #7f0015;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.3s ease;
}
#copyBtn:hover {
	margin-top: -30px;
	margin-left: 300px;
	margin-right: 300px;
	background-color: #000950;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.3s ease;
}

c {
display: flex;
	flex-direction: column;
	align-items: left;
	font-size: 25px;
}

p {
display: flex;
	flex-direction: column;
	align-items: left;
	font-size: 0px;
}